# Directory containing a clone of github.com/PelicanPlatform/pelican
PELICAN_SRC_DIR=${HOME}/pelican

#=======================================================================
# Official releases
#=======================================================================

TAG=v7.25.0
HUB=hub.osg-htc.org/pelican_platform

CACHE_CONTAINER=${HUB}/cache:${TAG}
DIRECTOR_CONTAINER=${HUB}/director:${TAG}
ORIGIN_CONTAINER=${HUB}/origin:${TAG}
REGISTRY_CONTAINER=${HUB}/registry:${TAG}

DEV_CONTAINER=${HUB}/pelican-dev:latest-itb

#=======================================================================
# Local builds (overrides the above when not commented out)
#=======================================================================

# CACHE_CONTAINER=pelican-cache:local
# DIRECTOR_CONTAINER=pelican-director:local
# ORIGIN_CONTAINER=pelican-origin:local
# REGISTRY_CONTAINER=pelican-registry:local

# DEV_CONTAINER=pelican-dev:local
